body{
  font-family: $primary-font;
  font-size: 16px;
}

ul{
  li:hover{
    cursor: pointer;
  }
  &.no-style{
    list-style: none;
  }

}

select.no-outline{
  outline: none;
}

.capitalize{
  text-transform: capitalize;
}

.uppercase{
  text-transform: uppercase;
}

.txt-10{
  font-size: 10px;
}


.pall-1{
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}


.pt-1{
  padding-top: 1em;
}

.pt-2{
  padding-top: 2em;
}

.pt-3{
  padding-top: 3em;
}


.py-1{
  padding-top: 1em;
  padding-bottom: 1em;
}

.py-3{
  padding-top: 3em;
  padding-bottom: 3em;
}

.py-6{
  padding-top: 6em;
  padding-bottom: 6em;
}


.txt-pink{
  font-style: italic;
  color: #CE38B1;
}

button{
  font-size: 1.2em;
  @include py(0.6);
  @include px(1.6);
  border: 2px solid #000;
  margin-top: 5px;
  &:hover{
    cursor: pointer;
  }
  &.button-black{
    background-color: #000;
    color: #fff;
    &:hover{
      opacity: 0.8;
    }
  }
  &.button-trans{
    background-color:  hsla(0, 0%, 0%, 0);
  }
  &.button-white{
    font-size: 17px;
    border: 0;
    background-color: #fff;
    color: rgba(0,0,0,0.9);
    &:hover{
      opacity: 0.8;
    }
  }
}

.mt-05{
  margin-top: 0.5em;
}

.mt-1{
  margin-top: 1em;
}

.mt-2{
  margin-top: 2em;
}

.mr-1{
  margin-right: 1em;
}

@media all and (max-width: 991px){
  body{
    font-size: 13px;
  }
}

@media all and (max-width: 767px){
  body{
    font-size: 16px;
  }
}
