body{
  font-family: $primary-font;
}

ul.no-style{
  list-style: none;
}

select.no-outline{
  outline: none;
}

.capitalize{
  text-transform: capitalize;
}

.py-1{
  padding-top: 1em;
  padding-bottom: 1em;
}
