footer{
  .links{
    background-color: #ECECEC;
    font-size: 0.8em;
    li{
      @include py-05;
      &.icons{
        display: flex;
        .icon{
          width: 35px;
          height: 35px;
          margin-right: 5px;
          background-color: #000;
          color: #fff;
          font-size: 20px;
          @include flex-center;
          &.ig{
            background-color: #E4405F;
          }
          &.fb{
            background-color: #3B5998;
          }
          &.tw{
            background-color: #1DA1F2;
          }
          &.yt{
            background-color: #CD201F;
          }
          &.pint{
            background-color: #BD081C;
          }
          &.rss{
            background-color: #FF8D00;
          }

        }
      }
    }
    .title{
      font-size: 1rem;
      font-weight: bold;
    }
    .link{
      &:hover{
        text-decoration: underline;
      }
    }
  }

  .ref{
    background-color: #1E1E1E;
    font-size: 10px;
    color: #fff;
    .container{

      display: flex;
      justify-content: space-between;
    }
    ul{
      @include flex-center;
      li{
        margin: 1em;
        &.link{
          opacity: 0.5;
          &:hover{
            opacity: 1;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media all and (max-width: 991px){
  footer{
    .links{
      li{
        &.icons{
          flex-wrap: wrap;
          .icon{
            margin-top: 5px;
          }
        }
      }
    }
    .ref{
      ul{
        &.copyright{
          justify-content: flex-end;
          flex-wrap: wrap;
        }
      }
    }
  }
}

@media all and (max-width: 767px){
  footer{
    .links{
      ul{
        margin-bottom: 2em;
        li{
          line-height: 1.5;
          &.link{
            font-size: 0.9rem;
          }
        }
      }
    }
    .ref{
      .container{
        flex-direction: column;
        ul{
          &.partners{
            flex-wrap: wrap;
          }
        }
      }
    }
  }
}
