.debug{
  main{
    .pictures{
      .info{
        background-color: red;
        height: 300px;
      }
    }
  }
}

main{
  text-align: center;
  background-color: #E8E8E8;
  .possibilities{
    h1{
      font-size: 2em;
      font-weight: normal;
    }
    font-size: 16px;
    .content{
      background-color: #fff;
      text-align: left;
      line-height: 1.4;
      img{
        width: 100%;
      }
      .info{
        .reg{
          font-size: 10px;
        }
        span{
          &.title{
            font-size: 19px;
            font-weight: bold;
          }
        }
        .new{
          color: $link-color;
          margin-right: 5px;
        }
        .link{
          color: $link-color;
        }
      }
      &:hover .link{
        text-decoration: underline;
      }
    }
  }
  .pictures{
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    .wacom{
      background-color: #3C1567;
    }
    .masters{
      background-color: #3C3C3C;
    }
    .business{
      background-color: #0072BC;
    }
    .riga{
      width: 100%;

      display: flex;
      .info{
        text-align: left;
        color: #fff;
        font-size: 1.1em;
        width: 50%;
        padding-top: 3em;
        padding-bottom: 4em;
        padding-left: 2em;
        padding-right: 3em;
        p{
          padding-top: 2em;
          padding-bottom: 2em;
        }
      }
      .immagine{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        @include bg-img;
        img{
          width: 70%;
        }
      }
    }
  }
}

@media all and (max-width: 767px){
  main{
    .container{
      max-width: 100%;
      .possibilities{
        h1{
          font-size: 1.5em;
        }
      }
    }
    .container-fluid{
      .pictures{
        padding-top: 0;
        .riga{
          flex-direction: column-reverse;
          &.masters{
            flex-direction: column;
          }
          .info{
            width: 100%;
            font-size: 1em;
            .button{
              font-size: 1em;
            }
          }
          .immagine{
            width: 100%;
            height: 325px;
            align-items: flex-start;


          }
        }
      }
    }
  }
}
