@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin bg-img{
  background-size: cover;
  background-position: center;
}

@mixin py-05{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

@mixin py($em){
  padding-top: #{$em}em;
  padding-bottom: #{$em}em;
}

@mixin px($em){
  padding-right: #{$em}em;
  padding-left: #{$em}em;
}

@mixin ptb($emt, $emb){
  padding-top: #{$emt}em;
  padding-bottom: #{$emb}em;
}
