nav{
  color: #fff;
  background: #101010;


  .container{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  ul{
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.icons{
      font-size: 11px;
      align-self: flex-end;
      li{
        margin-left: 20px;
        i{
          color: #009CFF;
          font-size: 15px;
          margin-right: 5px;
        }
        span{
          opacity: 0.5;
        }
      }
    }
    &.menu{
      font-size: 13px;
      align-self: flex-start;
      img{
        height: 25px;
      }
      li{
        margin-right: 50px;
        i{
          opacity: 0.5;
          font-size: 11px;
        }
      }
    }
  }

}

.jumbo{
  .logo{
    height: 50px;
  }
}
