nav{
  color: #fff;
  background: #101010;


  .container{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  ul{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &.icons{
      font-size: 11px;
      align-self: flex-end;
      li{
        margin-left: 20px;
        i{
          color: $link-color;
          font-size: 15px;
          margin-right: 5px;
        }
        &:hover span{
          opacity: 1;
          text-decoration: underline;
        }
        span{
          opacity: 0.5;
        }
      }
    }
    &.menu{
      font-size: 13px;
      align-self: flex-start;
      img{
        height: 25px;
      }
      li{
        padding: 20px;
        &:hover{
          background-color: #fff;
          color: #000;
          font-weight: bold;
        }
        i{
          opacity: 0.5;
          font-size: 11px;
        }
      }
    }
  }

}

@media all and (max-width: 991px){
  nav{
    ul{
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }
}
