body {
  font-family: "Raleway", sans-serif;
}

ul.no-style {
  list-style: none;
}

select.no-outline {
  outline: none;
}

.capitalize {
  text-transform: capitalize;
}

.py-1 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.txt-pink {
  color: #CE38B1;
}

nav {
  color: #fff;
  background: #101010;
}
nav .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul.icons {
  font-size: 11px;
  align-self: flex-end;
}
nav ul.icons li {
  margin-left: 20px;
}
nav ul.icons li i {
  color: #009CFF;
  font-size: 15px;
  margin-right: 5px;
}
nav ul.icons li span {
  opacity: 0.5;
}
nav ul.menu {
  font-size: 13px;
  align-self: flex-start;
}
nav ul.menu img {
  height: 25px;
}
nav ul.menu li {
  margin-right: 50px;
}
nav ul.menu li i {
  opacity: 0.5;
  font-size: 11px;
}

.jumbo .logo {
  height: 50px;
}
