body {
  font-family: "Raleway", sans-serif;
}

ul li:hover {
  cursor: pointer;
}
ul.no-style {
  list-style: none;
}

select.no-outline {
  outline: none;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.txt-10 {
  font-size: 10px;
}

.pall-1 {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.pt-1 {
  padding-top: 1em;
}

.pt-2 {
  padding-top: 2em;
}

.pt-3 {
  padding-top: 3em;
}

.py-1 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.py-3 {
  padding-top: 3em;
  padding-bottom: 3em;
}

.py-6 {
  padding-top: 6em;
  padding-bottom: 6em;
}

.txt-pink {
  color: #CE38B1;
}

button {
  font-size: 21px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  padding-left: 25px;
  border: 2px solid #000;
}
button:hover {
  cursor: pointer;
}
button.button-black {
  background-color: #000;
  color: #fff;
}
button.button-black:hover {
  opacity: 0.8;
}
button.button-trans {
  background-color: rgba(0, 0, 0, 0);
}
button.button-white {
  font-size: 17px;
  border: 0;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.9);
}
button.button-white:hover {
  opacity: 0.8;
}

.mt-05 {
  margin-top: 0.5em;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mr-1 {
  margin-right: 1em;
}

nav {
  color: #fff;
  background: #101010;
}
nav .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
nav ul.icons {
  font-size: 11px;
  align-self: flex-end;
}
nav ul.icons li {
  margin-left: 20px;
}
nav ul.icons li i {
  color: #009CFF;
  font-size: 15px;
  margin-right: 5px;
}
nav ul.icons li:hover span {
  opacity: 1;
  text-decoration: underline;
}
nav ul.icons li span {
  opacity: 0.5;
}
nav ul.menu {
  font-size: 13px;
  align-self: flex-start;
}
nav ul.menu img {
  height: 25px;
}
nav ul.menu li {
  padding: 20px;
}
nav ul.menu li:hover {
  background-color: #fff;
  color: #000;
  font-weight: bold;
}
nav ul.menu li i {
  opacity: 0.5;
  font-size: 11px;
}

@media all and (max-width: 991px) {
  nav ul {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
.jumbo {
  background-size: cover;
  background-position: center;
}
.jumbo .logo {
  height: 50px;
}

@media all and (max-width: 991px) {
  jumbo {
    font-size: 13px;
  }
}
.debug main .pictures .info {
  background-color: red;
  height: 300px;
}

main {
  text-align: center;
  background-color: #E8E8E8;
}
main .possibilities {
  font-size: 16px;
}
main .possibilities h1 {
  font-size: 2em;
  font-weight: normal;
}
main .possibilities .content {
  background-color: #fff;
  text-align: left;
}
main .possibilities .content img {
  height: 195px;
  width: 100%;
}
main .possibilities .content .info .reg {
  font-size: 10px;
}
main .possibilities .content .info span.title {
  font-size: 19px;
  font-weight: bold;
}
main .possibilities .content .info .new {
  color: #009CFF;
  margin-right: 5px;
}
main .possibilities .content .info .link {
  color: #009CFF;
}
main .possibilities .content:hover .link {
  text-decoration: underline;
}
main .pictures {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
main .pictures .wacom {
  background-color: #3C1567;
}
main .pictures .masters {
  background-color: #3C3C3C;
}
main .pictures .business {
  background-color: #0072BC;
}
main .pictures .riga {
  width: 100%;
  display: flex;
}
main .pictures .riga .info {
  text-align: left;
  color: #fff;
  font-size: 18px;
  width: 50%;
  padding-top: 3em;
  padding-bottom: 4em;
  padding-left: 2em;
  padding-right: 3em;
}
main .pictures .riga .info p {
  padding-top: 2em;
  padding-bottom: 2em;
}
main .pictures .riga .immagine {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  background-size: cover;
  background-position: center;
}
main .pictures .riga .immagine img {
  width: 70%;
}

footer .links {
  background-color: #ECECEC;
  font-size: 13px;
}
footer .links li {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
footer .links li.icons {
  display: flex;
}
footer .links li.icons .icon {
  width: 35px;
  height: 35px;
  margin-right: 5px;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .links li.icons .icon.ig {
  background-color: #E4405F;
}
footer .links li.icons .icon.fb {
  background-color: #3B5998;
}
footer .links li.icons .icon.tw {
  background-color: #1DA1F2;
}
footer .links li.icons .icon.yt {
  background-color: #CD201F;
}
footer .links li.icons .icon.pint {
  background-color: #BD081C;
}
footer .links li.icons .icon.rss {
  background-color: #FF8D00;
}
footer .links .title {
  font-size: 16px;
  font-weight: bold;
}
footer .links .link:hover {
  text-decoration: underline;
}
footer .ref {
  background-color: #1E1E1E;
  font-size: 10px;
  color: #fff;
}
footer .ref .container {
  display: flex;
  justify-content: space-between;
}
footer .ref ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .ref ul li {
  margin: 1em;
}
footer .ref ul li.link {
  opacity: 0.5;
}
footer .ref ul li.link:hover {
  opacity: 1;
  text-decoration: underline;
}
